.center_div{
  width: 35%;
  margin: auto;
}

.update{
  width: 100%;
}

.city {
  width: 100%;
}

.button-update {
  margin-top: 20px;
  horiz-align: center;
}

.scrollbar
{
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: 0;
  max-height: 100px;
}

#style-3::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
  background-color: #000000;
}
